/* .bg-1
{
    background-image: url('/assets/img/banniere0SansNom.jpeg');
}

.bg-2
{
    background-image: url('/assets/img/banniere2Noir.jpg');
}

.bg-3
{
    background-image: url('/assets/img/mecaniqueNoir.jpg');
}
 */
/* .carousel-item
{
    height: 100vh; 
    min-width: 300px;
} */

.carItem
{
     background-size: cover;
     background-position: center;
     object-fit: cover; 
} 

.carousel-caption
{
    /* bottom: 220px; */
    z-index: 3;
}

.carousel-caption h5
{
    text-transform: uppercase;
    font-size: 55px;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p
{
    width: 70%;
    margin: auto;
    font-size: 20px;
    color: white !important;
}
