.carItem
{
     background-size: cover;
     background-position: center;
     object-fit: cover; 
} 

.carousel-caption
{
    /* bottom: 220px; */
    z-index: 3;
}

.carousel-caption h5
{
    text-transform: uppercase;
    font-size: 55px;
    letter-spacing: 1.3px;
    margin-top: 25px;
}

.carousel-caption p
{
    width: 70%;
    margin: auto;
    font-size: 20px;
    color: white !important;
}
