*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
  height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5625;
  color: var(--primary-black);
}

body
{
    background-color: #fff;
    color: var(--primary-black);
    overflow-x: hidden;
}

img
{
    max-width: 100%;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: inherit;
}

 h3, h4, h6 
{
    line-height: 1.25;
      font-size: 18px;  
    font-weight: 500;
    font-family: 'Trykker', serif;
    /* text-transform: uppercase; */
}

h6
{
    color: var(--steel-blue);
    font-weight: 600;
}

h1, h2 
{
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 600;
    color: var(--primary-black);

}
h1{
    margin-bottom: 45px;
}

p 
{
    margin-bottom: 5px;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400  !important;
    color: var(--primary-black) !important;
}


.partenaireDiv img
{
    box-shadow: 3px 3px 6px rgba(14, 14, 14, 0.4);
}

section{
    padding-bottom: 40px;
}

/******  colll **/
.about-col
{
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
}

.about-colss img
{
    position:relative;
}

.about-col i 
{
    font-size: 28px;
    line-height: 0;
    color: #fff;
    transition: 0.3s;
}

.about-col .icon 
{
    width: 64px;
    height: 64px;
    text-align: center;
    position: absolute;
    background-color: #18d26e;
    border-radius: 50%;
    border: 4px solid #fff;
    left: calc( 50% - 32px);
    bottom: -30px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}


.horizon
{
    color: var(--primary-color);
}

.solutions
{
    color: var(--steel-blue);
}

h1::before 
{
    content: '';
    position: absolute;
    display: block;
    width: 250px;
    height: 1px;
    background: black;
    bottom: 1px;
    left: calc(50% - 125px);
}


 h1 
 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
}

h1::after 
{
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 4px;
    background: var(--primary-color);
    bottom: 0;
    left: calc(50% - 30px);
}


/* h1 {
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Fira Sans Condensed', sans-serif;
}

h2 {
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Fira Sans Condensed', sans-serif;
}

h3 {
    font-size: 30px;
    font-family:'Trykker', serif;
}

h4 {
    font-size: var(--taille-grande);
    font-family:'Trykker', serif;
}

h1, h2, h3, h4 {
    line-height: 1.25;
}

p {
    font-family: 'Trykker', serif;
}

a {
    text-decoration: none;
    color: var(--couleur-noir);
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: var(--taille-grande);
}

strong {
    font-size: var(--taille-grande);
    font-family: 'Fira Sans Condensed', sans-serif;
    color: var(--couleur-noir);
} */