nav, main
{
    background-image: url('/assets/img/filigrane.png'); 
    background-size: cover;
    object-fit: cover; 
}

.nav-link
{
    color: black !important;
}

.navigation
{
    width: 100%;
    margin: 0 auto;
    padding: 10px ;
    display: flex; 
    justify-content: space-between;   
    align-items: center;
    color: black;
   /*background-color:  rgba(27, 26, 26, 0.25); */
}

 .logoNavigation
{
    height: 75px;
} 

nav .lien
{   
    gap: 5px;
    text-transform: uppercase;
    font-size: 1.2rem;  
}

 .lien a:hover
{
    color: var(--primary-color) !important;  
} 

.lien_bar
{
    position: relative;   
}

.lien_bar::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 90px;
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 5px;
    transform: translateY(-2px);
    opacity: 0;
    transition: .5s;
} 

.lien_bar:hover::after
{
    transform: translateX(10%);
    opacity: 1;
}


.navbar-toggler-icon
{
    color: #2C8C44 !important;
}

.inactive:hover
{
    color: lightgray
}
