/* Mobile styles */
@media (max-width: 768px) 
{
    .navigation 
    {
       /*  flex-direction: column; */
        align-items: flex-start;
    }

    .navigation .lien 
    {
        /* flex-direction: column; */
        gap: 1rem;
    }

    .logoImage img 
    {
        width: 80px;
        height: 80px;
    }

    .section .container 
    {
        width: 540px;
    }

 

    .navigation .lien 
    {
        flex-direction: column;
        gap: 1rem;

    }

    .logoImage img 
    {
        width: 80px;
        height: 80px;
    }

    .carousel-caption
{
    top: 25%;
    /* bottom: 430px; */ 
    /* z-index: 3; */
}

    .carousel-caption h5
{
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 1.3px;
    margin-top: 25px;
}

.carousel-caption p
{
    width: 70%;
    margin: auto;
    font-size: 16px;
    line-height: 1;
    color: white !important;
}

.layer p
{
    font-size: 15px;
}
   /*  .container 
    {
        flex-direction: column;
    } */
}
